<!DOCTYPE html>
<html lang = 'en'>
<head>
    <title>TinyApp</title>
    <meta charset="UTF-8">
    <% include partials/_header %>
</head>
<body>
  <a href = '/urls/new'>Make your URL super duper tiny!</a>
  <table>
    <tr>
      <th>Long URL</th>
      <th>Tiny URL</th>
    </tr>
    <% for(let urlShortCode in urls) { %>
      <tr>
        <td><%= urls[urlShortCode] %></td>
        <td><%= urlShortCode %></td>
        <td><a href='/u/<%=urlShortCode%>'>My tiny link</a></td>
        <td><a href="/urls/<%=urlShortCode%>">Edit</a></td>
        <td>
          <form method='POST' action='/urls/<%= urlShortCode %>/delete'>
            <input type='submit' value='Delete'>
          </form>
        </td>
      </tr>
    <% } %>
  </table>
</body>
</html>